.about {
  padding: 30px 0;
}

.about .about-title {
  padding: 50px 0;
  text-align: center
}

.about .about-title h3 {
  font-size: 60px;
  font-weight: bold;

}

.about .about-title span {
  color: #555;
  font-size: 25px;
}


.about .about-info{
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #DDD;
}

.about .about-info.info-reverse{
  flex-direction: row-reverse;
  background-color: rgba(232, 234, 235, 1);
}

.about .about-info .about-left{
  width: 370px;
  margin: auto;
  text-align: center;
}
.about .about-info .about-left h4{
  font-size: 25px;
  font-weight: bold;
}
.about .about-info .about-left p {
  line-height: 1.6;
  margin: 20px 0;
  color: #555;
}

.about .about-info .about-right img{
  width: 100%;
  height: 350px;
}