.Home {
  position: relative;
}

.Home .container {
  width: 1170px;
  margin: auto;
}

.Home .container .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #DDD;
}

.Home .container .title select {
  padding: 5px;
  border: 1px solid #DDD;
}

.Home .container .title select:focus{
  outline: none;
}

.Home .container .title h3{
  font-size: 14px;
  color: #555;
}

